body{
	background-color: white;
	width: 1020px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header{
	display: block;
	background-color: #323232;
	height: 60px;
}
nav{
	position: relative;
	width: 500px;
	height: 60px;
	background-color: #323232;
	margin: 0 auto;
}
nav ul {
	display: flex;
	height: inherit;
	text-transform : uppercase;
	justify-content: space-between;
	align-items: center;
	color: white;
} 

ul li:nth-child(2) {
	margin-right: 135px;
}
.pointy_singy{
    border: 100px solid transparent;
    border-top: 100px solid  #323232;
    position: absolute;
    left: 144px;
 }
main{
    display: block;
    background-color: yellow;
    height: 1630px;
}
.protfolio{
	height: 625px;
	background-color: #ffffff;
}
.about_me{
	height: 440px;
	background-color: #2eb398;
}
.get_in_touch{
  height: 565px;
  background-color: #323232;
}

footer{
	display: block;
	background-color: #222222;
	height: 40px;

}



/*
.Header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1020px;
  height: 1732px;
  z-index: 105;
}
.Logo {
  background-image: url("Logo.png");
  position: absolute;
  left: 477px;
  top: 10px;
  width: 64px;
  height: 55px;
  z-index: 104;
}
.BLOG______·______GET_IN_TOUCH {
  font-size: 7.214px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 0.632;
  text-align: justifyLeft;
  -moz-transform: matrix( 1.3468753916099,0,0,1.3862334687077,0,0);
  -webkit-transform: matrix( 1.3468753916099,0,0,1.3862334687077,0,0);
  -ms-transform: matrix( 1.3468753916099,0,0,1.3862334687077,0,0);
  position: absolute;
  left: 599.068px;
  top: 33.72px;
  z-index: 103;
}
.PORTFOLIO______·______ABOUT {
  font-size: 7.214px;
  font-family: "Lato";
  color: rgb(46, 179, 152);
  font-weight: bold;
  line-height: 0.632;
  text-align: justifyLeft;
  -moz-transform: matrix( 1.3468753916099,0,0,1.3862334687077,0,0);
  -webkit-transform: matrix( 1.3468753916099,0,0,1.3862334687077,0,0);
  -ms-transform: matrix( 1.3468753916099,0,0,1.3862334687077,0,0);
  position: absolute;
  left: 344.893px;
  top: 33.72px;
  z-index: 102;
}
.Header {
  background-color: rgb(50, 50, 50);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1020px;
  height: 63px;
  z-index: 101;
}
.Pointy_Thingy {
  background-color: rgb(50, 50, 50);
  position: absolute;
  left: 420px;
  top: -117px;
  width: 180px;
  height: 206px;
  z-index: 100;
}
.Sep_Left {
  background-color: rgb(228, 233, 235);
  position: absolute;
  left: 30px;
  top: 74px;
  width: 410px;
  height: 1px;
  z-index: 99;
}
.Sep_Right {
  background-color: rgb(228, 233, 235);
  position: absolute;
  left: 580px;
  top: 74px;
  width: 410px;
  height: 1px;
  z-index: 98;
}
*/