body{
width: 1020px;
margin: 0 auto;
padding: 0;
box-sizing: border-box;
background-color: black;
color: white !important;
}


header{
width:100%;
height: 60px;
background: #323232;
}

a{
  color:#fff;
  text-decoration: none;

}

.menu{
  height: 100%;
  text-transform: uppercase;
  max-width: 1024px;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.menu_left_part{
  display: flex;
  justify-content: flex-start;
  
}

.menu_center_part{
  display: flex;
  align-self: flex-end;
}

.menu_right_part{
  display: flex;
  justify-content: flex-end;
}
.menu_left_part>a, .menu_right_part>a{
  padding: 0 20px;
  font-size: 12px;
  font-family: "Lato";
  font-weight: bold;
}
.logotype{
    background:url("./img/logo_triangle.png");
    width:60px;
    height: 50px;
    display: inline-block;
    margin:0 40px;
    background-size: 100%;
}


.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27px 45px 0 45px;
  border-color: #323232 white white white;
  margin:0 auto;
  z-index: 1;
  position: relative;
}
  }
main{
  display: block;
  background-color: yellow;
  height: 1630px;
}
.protfolio{
height: 625px;
background-color: #ffffff;
}
.about_me{
height: 440px;
background-color: #2eb398;
}
.get_in_touch{
height: 565px;
background-color: #323232;
}

footer{
display: block;
background-color: #222222;
height: 40px;
}